Repository airen3339/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @teqdruid, @darthscsi, @dtzSiFive, @seldridge, @mortbopet, @Dinistro, @RamirezLucas

[FIRRTL] Remove module self-instantiation verifier
  lib/Dialect/FIRRTL/FIRRTLInstanceImplementation.cpp
  test/Dialect/FIRRTL/errors.mlir
Owners: @darthscsi, @dtzSiFive, @seldridge

[firtool] run CheckRecursiveInstantiation pass
  lib/Firtool/Firtool.cpp
Owners: none

[FIRRTL] Add CheckRecursiveInstantiation diagnostic pass
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/CheckRecursiveInstantiation.cpp
  test/Dialect/FIRRTL/check-recursive-instantiation-errors.mlir
  test/Dialect/FIRRTL/check-recursive-instantiation.mlir
Owners: @darthscsi, @dtzSiFive, @seldridge

[FIRRTL][LowerLayers] Update rwprobe operations if possible.
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
  test/Dialect/FIRRTL/lower-layers-errors.mlir
  test/Dialect/FIRRTL/lower-layers.mlir
  test/firtool/layers-rwprobe.fir
Owners: @darthscsi, @dtzSiFive, @seldridge

[HW] Add an API to append ports to HWModuleOp
  include/circt/Dialect/HW/HWStructure.td
  lib/Dialect/HW/HWOps.cpp
Owners: none

[Seq] Add a new pass to sink the clock_gate ops
  include/circt/Dialect/Seq/SeqPasses.h
  include/circt/Dialect/Seq/SeqPasses.td
  lib/Dialect/Seq/Transforms/CMakeLists.txt
  lib/Dialect/Seq/Transforms/SinkClockGates.cpp
Owners: none

[Seq] Add lit test
  test/Dialect/Seq/clock-gate-sink.mlir
Owners: none

[OM] Support list concatenation in the Evaluator.
  include/circt/Dialect/OM/Evaluator/Evaluator.h
  lib/Dialect/OM/Evaluator/Evaluator.cpp
  unittests/Dialect/OM/Evaluator/EvaluatorTests.cpp
Owners: none

[OM] Add AnyType C API and Python bindings.
  include/circt-c/Dialect/OM.h
  integration_test/Bindings/Python/dialects/om.py
  lib/Bindings/Python/OMModule.cpp
  lib/Bindings/Python/dialects/om.py
  lib/CAPI/Dialect/OM.cpp
Owners: none

[OM] Add ListType C API and Python bindings.
  include/circt-c/Dialect/OM.h
  integration_test/Bindings/Python/dialects/om.py
  lib/Bindings/Python/OMModule.cpp
  lib/Bindings/Python/dialects/om.py
  lib/CAPI/Dialect/OM.cpp
Owners: none

Squashed WIP
  include/circt/Dialect/Arc/ArcOps.td
  lib/Conversion/ArcToLLVM/LowerArcToLLVM.cpp
  lib/Dialect/Arc/ArcOps.cpp
  lib/Dialect/Arc/Transforms/AllocateState.cpp
  lib/Dialect/Arc/Transforms/LegalizeStateUpdate.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
Owners: @fabianschuiki, @maerhart

Fix lit tests
  test/Dialect/FIRRTL/emit-metadata.mlir
  test/firtool/prefixMemory.fir
Owners: @darthscsi, @dtzSiFive, @seldridge

[CreateSifiveMetadata] Update memory hierarchy paths to be pre-extraction
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  test/Dialect/FIRRTL/SFCTests/directories.fir
  test/Dialect/FIRRTL/emit-metadata.mlir
Owners: @darthscsi, @dtzSiFive, @seldridge

Create hierarchy only for DUT memories and fixup path creation
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
Owners: @darthscsi, @dtzSiFive, @seldridge

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @dtzSiFive @seldridge
*/firtool @dtzSiFive
libs/Firtool @dtzSiFive

# LLHD
**/LLHD* @fabianschuiki @maerhart
tools/llhd-sim @fabianschuiki @maerhart

# Handshake
**/Handshake* @mortbopet @Dinistro @RamirezLucas

# HW
# **/Dialect/HW

# SV
# **/Dialect/SV

## Conversions

lib/Conversion/ExportVerilog @dtzSiFive


## Infra

# CI
.github @teqdruid @dtzSiFive

# PrettyPrinter
**/Support/Pretty* @dtzSiFive
