Repository airen3339/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @teqdruid, @darthscsi, @dtzSiFive, @seldridge, @hanchenye, @stephenneuendorffer

Add port attr test
  unittests/Dialect/HW/HWModuleTest.cpp
Owners: none

Populate per port attributes array in the setters
  include/circt/Dialect/HW/HWOpInterfaces.td
Owners: none

fmt
  unittests/Dialect/HW/HWModuleTest.cpp
Owners: none

[HWToLLVM] Add out-of-bounds handler for array_get
  lib/Conversion/HWToLLVM/HWToLLVM.cpp
  tools/arcilator/arcilator-runtime.h
Owners: @fabianschuiki

binary floating point add operator
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
Owners: none

create register based on type
  include/circt/Dialect/Calyx/CalyxHelpers.h
  lib/Dialect/Calyx/Transforms/CalyxHelpers.cpp
Owners: none

emit floating point calyx constant
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/emit.mlir
Owners: none

calyx constant op
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
  test/Conversion/SCFToCalyx/convert_simple.mlir
Owners: none

emit bit representation for calyx floating point constantOp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/emit.mlir
Owners: none

include json for storing external memory data
  include/circt/Conversion/Passes.td
  include/circt/Dialect/Calyx/CalyxLoweringUtils.h
  include/circt/Dialect/Calyx/json.hpp
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: none

writing allocOp as all zero's to json
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: none

write external global memory data to json; and build getglobal as an alloc
  include/circt/Dialect/Calyx/CalyxLoweringUtils.h
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: none

use ordered json to preserve numerical order
  include/circt/Dialect/Calyx/CalyxLoweringUtils.h
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: none

[ImportVerilog] Support hierarchical values and defparam.
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
Owners: none

[FIRRTL] Inliner: Support for ops with regions.
  lib/Dialect/FIRRTL/Transforms/ModuleInliner.cpp
  test/Dialect/FIRRTL/inliner-errors.mlir
  test/Dialect/FIRRTL/inliner.mlir
Owners: @darthscsi, @dtzSiFive, @seldridge

[FIRRTL][ModuleInliner] clang-format.
  lib/Dialect/FIRRTL/Transforms/ModuleInliner.cpp
Owners: @darthscsi, @dtzSiFive, @seldridge

[FIRRTL][Inliner] Check parents in "into" methods too.
  lib/Dialect/FIRRTL/Transforms/ModuleInliner.cpp
  test/Dialect/FIRRTL/inliner-errors.mlir
Owners: @darthscsi, @dtzSiFive, @seldridge

Inliner: include op name for clarity.
  lib/Dialect/FIRRTL/Transforms/ModuleInliner.cpp
  test/Dialect/FIRRTL/inliner-errors.mlir
Owners: @darthscsi, @dtzSiFive, @seldridge

[Comb][Canonicalize] Best effort dialect attribute propagation
  lib/Dialect/Comb/CombFolds.cpp
  test/Dialect/Comb/canonicalization.mlir
Owners: none

comb patch: fix op use after replace
  lib/Dialect/Comb/CombFolds.cpp
Owners: none

lower scf parallel to calyx by invoking multiple components in parallel
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: none

add more comments for function description; use llvm join for string concat
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: none

can pass non memref arguments from new toplevel to original toplevel and pass scf to calyx convert memory tests
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  test/Conversion/SCFToCalyx/convert_memory.mlir
Owners: none

can parse and emit InvokeOp when having reference cells
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
Owners: none

expose memory interface's name
  include/circt/Dialect/Calyx/CalyxLoweringUtils.h
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
Owners: none

update the error when invokeOp has no ports connection nor does it pass memory by reference
  test/Dialect/Calyx/errors.mlir
Owners: none

marking the correct top-level componentOp
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: none

can emit reference seq memory
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
Owners: none

calyx invokeOp can pass memory by reference
  include/circt/Dialect/Calyx/CalyxControl.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
Owners: none

pass emit invoke test; and add a new test when invoking component instance with both memref and non-memref arguments
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/emit-invoke-with-ref.mlir
  test/Dialect/Calyx/emit-invoke.mlir
Owners: none

use ArrayAttr to store reference mapping so it's more neat; change the order of insertion point so that the number of the reference and the external memory align in the invoke
  include/circt/Dialect/Calyx/CalyxControl.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Conversion/SCFToCalyx/convert_memory.mlir
Owners: none

copy old top-level's getglobal to new top-level
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: none

pass existing scf to calyx convert func tests
  test/Conversion/SCFToCalyx/convert_func.mlir
Owners: none

create and label a new top-level function based on needs
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: none

delete the component ports for memory ports and replace with an actual memoryOp inside the component
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: none

made code style changes after review
  include/circt/Dialect/Calyx/CalyxLoweringUtils.h
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
Owners: none

[FIRRTL] Add list concatenation operation.
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  test/Dialect/FIRRTL/round-trip.mlir
Owners: @darthscsi, @dtzSiFive, @seldridge

[FIRRTL] Add list concatenation parser support.
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Import/FIRTokenKinds.def
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
Owners: @darthscsi, @dtzSiFive, @seldridge

[OM] Add list concatenation operation.
  include/circt/Dialect/OM/OMOps.td
  test/Dialect/OM/round-trip.mlir
Owners: none

[FIRRTL] Add list concatenation conversion to LowerClasses.
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  test/Dialect/FIRRTL/lower-classes.mlir
Owners: @darthscsi, @dtzSiFive, @seldridge

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki
tools/arcilator @fabianschuiki

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @dtzSiFive @seldridge
*/firtool @dtzSiFive
libs/Firtool @dtzSiFive

# LLHD
**/LLHD* @fabianschuiki
tools/llhd-sim @fabianschuiki

# Handshake
**/Handshake* @hanchenye @stephenneuendorffer

# HW
# **/Dialect/HW

# SV
# **/Dialect/SV

## Conversions

lib/Conversion/ExportVerilog @dtzSiFive


## Infra

# CI
.github @teqdruid @dtzSiFive

# PrettyPrinter
**/Support/Pretty* @dtzSiFive
